@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background: #eaedf2;
  }
}
.layout-container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}
.shadow1 {
  box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;
}
