.discover {
  padding: 83px 0 81px 0;
  position: relative;
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-content {
    max-width: 499px;
    padding-top: 115px;
    .desc {
      max-width: 317px;
      margin: 20px 0 40px;
    }
  }
  .revenue {
    top: 57px;
    left: 465px;
  }
}
