.header {
  &-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 40px;
    &-link {
      transition: all 0.3s ease;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .btn {
    &--outline {
      margin-right: 20px;
      outline: none;
      border: none;
      background-color: transparent;
    }
  }
}
